:root {
  --color-grey-dark: #142533;
  --color-grey-medium: #d8d8d8;
  --color-grey-light: #f9f9f9;
  --color-blue: #2329D6;
  --color-blue-medium: #6490f0;

  --font-family-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  --font-size-xl: 52px;
  --font-size-lg: 24px;
  --font-size-md: 18px;
  --font-size-sm: 14px;
}

/* Global */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
  color: var(--color-grey-dark);
  background-color: var(--color-grey-light);
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a, a:link, a:hover, a:visited, a:active {color: var(--color-blue);}

.header {
  box-shadow: 0 4px 24px rgba(32,43,54,.12);
  padding: 8px 16px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
}

.header__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 930px;
  margin: auto;
}

.header__icons {
  min-width: 150px;
  text-align: right;
}

.header__icon {
  margin-left: 8px;
  display: inline-block;
  cursor: pointer;
}

.main {
  margin-top: 60px;
  padding: 16px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border-radius: 16px;
  background-color: #fff;
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0 4px 24px rgba(32,43,54,.08);
}

.card__text {
  font-size: var(--font-size-md);
}

.emoji {
  font-size: 42px;
  margin-bottom: 16px;
  margin-right: 16px;
  float: left;
}

.emoji-block {
  font-size: 42px;
  margin-bottom: 16px;
}

@media (min-width:600px) {
  .emoji {
    font-size: 30px;
    margin-top: -8px;
  }
}

.card__icon {
  height: 42px;
  width: 42px;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-right: 16px;
  float: left;
}

.button {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-decoration: none;
  width: 100%;
}

.button--light {
  color: var(--color-grey-dark) !important;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.button--light:hover {
  color: var(--color-grey-dark) !important;
  background-color: #e2e6ea;
  border-color: #e2e6ea;
}

.card__text--space {
  margin-bottom: 8px;
}

.footer {
  text-align: center;
  padding: 32px;
  font-size: var(--font-size-sm);
}

.edit-button {
  display: inline-block;
  padding: 4px 8px 0 8px;
  cursor: pointer;
}

.motive-form {
  display: none;
}

input {
  width: 100%;
  border: 1px solid var(--color-grey-medium);
  border-radius: 3px;
  padding: 12px 20px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.05);
}

input:focus {
  outline: none;
  border: 1px solid var(--color-blue-medium);
  border-radius: 3px; 
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);  
  position: sticky;
  top: -30px;
  margin: -30px;
  padding: 30px;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal__footer {
  text-align: right;
}

@media (max-width:720px) {
  .modal__container {
    border-radius: 0 !important;
  }
}