@font-face {
  font-family: 'gilroy-extrabold';
  src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-grey-light: #f9f9f9;
  --color-grey-medium: #d8d8d8;
  --color-grey-dark: #142533;
  --color-blue-light: #eff3fe;
  --color-blue-medium: #6490f0;

  --font-family-titles: 'gilroy-extrabold', 'Roboto', 'Helvetica', 'Arial', Sans-serif;
  --font-family-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  --font-size-lg: 52px;
  --font-size-md: 18px;
  --font-size-sm: 16px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-grey-dark);
  background-color: var(--color-grey-light);
  font-family: var(--font-family-default);
  font-size: var(--font-size-md);
}

.autocomplete-suggestions {
  text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

  /* core styles should not be changed */
  position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

.container {
  width: 100%;
  padding: 0 32px;
  max-width: 720px;
  margin: auto;
}

input {
  width: 100%;
  border: 1px solid var(--color-grey-medium);
  border-radius: 3px;
  padding: 12px 20px;
}

input:focus {
  outline: none;
  border: 1px solid var(--color-blue-medium);
  border-radius: 3px; 
}

.home {

}

.home__title {
  text-align: center;
  font-family: var(--font-family-titles);
  font-size: var(--font-size-lg);
}

.home__description {
  text-align: center;
}

.help {

}

.help__step {

}

.autocomplete-suggestion {

}

.autocomplete-suggestion__icon {
  height: 25px;
  width: 25px;
}